<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/header') %>
    <main class="container formPageContainer">
      <p class="alertText"><%= message %></p>
      <form action="<%= formAction %>" method="POST" class="formPassword">
        <label for="deletePW"
          >Enter password to delete
          <%= deleteType %>
        </label>
        <input type="password" id="deletePW" name="adminPW" required />
        <button>Submit Password</button>
        <a href="<%= redirectURL %>">Cancel Delete</a>
      </form>
    </main>
  </body>
</html>
